<h1>Summarize your booking:</h1>
<p><% flight = Flight.find(params[:choice]) %>
	Flight number: <%= flight.id %>
	<br />
	<br />
	Departure date: <%= flight.departure_date %>
	<br />
	<br />
	Duration: <%= flight.duration %> minutes
	<br />
	<br />
	Departure airport: <%= flight.departure_airport.airport_code %>
	<br />
	<br />
	Arrival airport: <%= flight.arrival_airport.airport_code %>
	<br />
	<br />
	Passengers: <%= params[:passengers] %>
</p>

<h1>Registrer the passengers:</h1>
<p>
	<%= form_for @booking do |f| %>
	
		<% params[:passengers].to_i.times do |passenger| %>
			<%= f.fields_for @booking.passengers.build do |addy_form| %>
				<br />
				First Name:
				<br />
				<%= f.text_field :first_name %>
				<br />
				<br />
				Last Name:
				<br />
				<%= f.text_field :last_name %>
				<br />
				<br />
			<% end %>
		<% end %>

		<%= f.submit "Register" %>
	<% end %>
</p>